/* register.css */

/* Загальні стилі для сторінки реєстрації */
.register-container {
    margin: 50px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-header {
    text-align: center;
    margin-bottom: 20px;
}

.register-header h2 {
    font-family: 'Marck Script';
    color: #4A8BDF;
}

.register-form {
    font-family: 'Cormorant Infant';
    font-size: 18px;
    color: #000;
}

.register-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.register-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4A8BDF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-form input[type="submit"]:hover {
    background-color: #3262a8;
}