{% extends "base.html" %}
{% load static %}

    {% block content %}
    <div class="row main-content">
        <div class="col">
        <h4>{{ post.author }}</h4>
        <h1>{{ post.title }}</h1>
        <h2>{{ post.content }}</h2>
        </div>
    </div>


    <div class="add-comment mt-4">
        <h2>Комментарии:</h2>
        <h4>Добавить комментарий</h4>
        <form action="{% url 'forum:post_detail' post.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
    
    <div class="comments mt-4">
        {% for comment in post.comments.all %}
            <div class="comment mb-2">
                <small>{{ comment.author.username }}</small> <small>{{ comment.created_at }}</small>
                <p>{{ comment.content }}</p>
                <form action="{% url 'forum:comment-like-toggle' comment.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="like_button" class="btn btn-sm {% if request.user in comment.likes.all %}btn-success{% else %}btn-outline-secondary{% endif %}">
                        лайк {{ comment.likes.count }}
                    </button>
                </form>
            </div>
        {% empty %}
            <p>Комментариев нет.</p>
        {% endfor %}
    </div>
    
    {% endblock %}