{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
{% block title %}Edit Profile{% endblock title %}
{% block content %}
    <h1>Edit Profile</h1>
    <form method="post" action="{% url 'edit_profile' %}">
        {% csrf_token %}
        <label for="id_username">Username:</label>
        <input type="text" name="username" id="id_username" value="{{ user.username }}" required><br><br>

        <label for="id_first_name">First Name:</label>
        <input type="text" name="first_name" id="id_first_name" value="{{ user.first_name }}"><br><br>

        <label for="id_last_name">Last Name:</label>
        <input type="text" name="last_name" id="id_last_name" value="{{ user.last_name }}"><br><br>

        <label for="id_email">Email:</label>
        <input type="email" name="email" id="id_email" value="{{ user.email }}" required><br><br>

        <button type="submit">Save changes</button>
    </form>
{% endblock content %}
