{% extends "base.html" %}
{% block title %}Портал групи{% endblock title %}

{% block content %}
<h1 class="marck-script">Портал</h1>
<h2 class="marck-script">Опис сайту</h2>
<p class="cormorant-infant">Вітаємо на сайті нашої групи! Як учень ви можете завітати на наш форум, подивитися події, проголосувати, побачити новини та інше.</p>
<p class="cormorant-infant">Приклад інформації про нашу групу:</p>
<p class="cormorant-infant">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu luctus magna. Nunc facilisis orci ut ipsum hendrerit gravida. Sed ut magna et magna placerat porttitor in in nunc. Duis rhoncus ultricies mauris id accumsan. Proin egestas vel nibh non molestie. Sed gravida eros quam, in pellentesque risus lacinia sit amet. Cras mi mauris, posuere sed sollicitudin vel, gravida quis sapien. Aliquam ac leo nec nisl pretium bibendum. Morbi felis urna, posuere quis mauris eu, blandit egestas erat. Proin sit amet purus convallis, fermentum ante ut, varius justo. </p>
<h2 class="marck-script">Події скоро:</h2>
<ul class="cormorant-infant">
    <li>Деяка подія</li>
    <li>Інша подія</li>
    <li>Новіша подія</li>
</ul>
<h2 class="marck-script">Портфоліо учнів:</h2>
<ul class="cormorant-infant">
    <li>Портфоліо 1</li>
    <li>Портфоліо 2</li>
    <li>Портфоліо 3</li>
</ul>
<h2 class="marck-script">Сьогодні на форумі:</h2>
<ul class="cormorant-infant">
    <li>Пост 1</li>
    <li>Пост 2</li>
</ul>
{% endblock content %}