{% extends "base.html" %}
{% load static %}
{% block title %}Registration Form{% endblock title %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% block content %}
    <div class="popup-form" id="registerPopupForm">
        <h2>Registration</h2>
        <form id="registerForm" action="{% url 'register' %}" method="post">
            {% csrf_token %}
            
            <!-- Вивід повідомлення про помилку, якщо таке є -->
            {% if error_message %}
            <div class="error-message">
                {{ error_message }}
            </div>
            {% endif %}

            <div>
                <label for="id_username" class="form-label">Username:</label>
                <input type="text" name="username" id="id_username" maxlength="150" class="form-control" required>
            </div>
            <div>
                <label for="id_email" class="form-label">Email:</label>
                <input type="email" name="email" id="id_email" class="form-control" required>
            </div>
            <div>
                <label for="id_first_name" class="form-label">First name:</label>
                <input type="text" name="first_name" class="form-control" id="id_first_name">
            </div>
            <div>
                <label for="id_last_name" class="form-label">Last name:</label>
                <input type="text" name="last_name" class="form-control" id="id_last_name">
            </div>
            <div>
                <label for="id_password1" class="form-label">Password:</label>
                <input type="password" name="password1" class="form-control" id="id_password1" required>
            </div>
            <div>
                <label for="id_password2" class="form-label">Password confirmation:</label>
                <input type="password" name="password2" class="form-control" id="id_password2" required>
            </div>
            <div>
                <button type="submit" class="btn btn-primary mt-2">Register</button>
            </div>
        </form>
    </div>
{% endblock content %}

