{% extends "base.html" %}
{% block title %}Створити нове голосування{% endblock title %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <label for="poll-text">Питання:</label>
    <input type="text" id="poll-text" name="poll-text" required>

    <h2>Опції (залишіть непотрібні поля пустими):</h2>
    <label for="choice-text-1">Опція 1 (обов'язково):</label>
    <input type="text" id="choice-text-1" name="choice-text-1" required>
    <label for="choice-text-2">Опція 2 (обов'язково):</label>
    <input type="text" id="choice-text-2" name="choice-text-2" required>
    <label for="choice-text-3">Опція 3:</label>
    <input type="text" id="choice-text-3" name="choice-text-3">
    <label for="choice-text-3">Опція 4:</label>
    <input type="text" id="choice-text-4" name="choice-text-4">
    <label for="choice-text-3">Опція 5:</label>
    <input type="text" id="choice-text-5" name="choice-text-5">

    <input type="submit" value="Створити">
</form>
{% endblock content %}