{% extends "base.html" %}
{% block title %}{{object.text}}{% endblock title %}
{% block content %}
    <h1>Голосування: "{{object.text}}"</h1>
    <p class="text-secondary">{{object.published_on}}</p>
    <form method="post" action="{% url 'vote_poll' object.pk%}">
        {% csrf_token %}
        {% for choice in object.choices.all %}
        <div class="form-check">
            <input class="form-check-input" type="radio" id="{{choice.pk}}" name="choice" value={{choice.pk}} {% if voted == choice.pk %}checked{% endif %}>
            <label class="form-check-label" for="{{choice.pk}}">{{choice.text}}</label>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary mt-2">Проголосувати</button>
        <a href={% url 'voting_list' %} class="btn btn-secondary mt-2">Повернутися до списку голосувань</a>
    </form>
{% endblock content %}