{% extends "base.html" %}
{% load static %}
{% block title %}Редагування події{% endblock title %}
{% block additional_css %}<link rel="stylesheet" href="{% static 'css/event.css' %}">{% endblock additional_css %}
{% block content %} 
    <form action="{% url 'edit' %}" method="post">
    {% csrf_token %}
    <div class="container container-event">
        <h1 class="white-background">Редагування події</h1>
        <form id="editEventForm">
            <label for="eventTitle" class="white-background">Назва події:</label>
            <input type="text" id="eventTitle" name="eventTitle" value=""><br>

            <label for="eventDescription" class="white-background">Опис події:</label>
            <textarea id="eventDescription" name="eventDescription"></textarea><br>

            <label for="eventTime" class="white-background">Час:</label><br>
            <input type="time" id="time" name="time"><br>

            <label for="eventDate" class="white-background">Дата події:</label>
            <input type="date" id="eventDate" name="eventDate" value="2024-03-10"><br>

            <input type="submit" value="Зберегти зміни">
            <a href="{% url 'event_list' %}">Повернутися</a>
        </form>
    </div>
{% endblock content %}
