{% extends "base.html" %}
{% load static %}
{% block title %}Сайт з подіями{% endblock title %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/event.css' %}">
    <style>
        .event-ul {
            list-style: none;
            padding: 0;
        }
        .event-li {
            margin-bottom: 10px;
            padding: 10px;
            background-color: #f0f0f0;
            border-radius: 4px;
        }
    </style>
{% endblock additional_css %}
{% block content %}
    <div class="container container-event">
        <h1 class="white-background">Події</h1>
        <a href="{% url 'add' %}" class="white-background">Додати подію</a>
        
        <ul class="white-background event-ul">
            {% for task in tasks %}
            <li class="event-li">
                <div class="card">
                <p>{{Event.name}}</p>
                <p>{{Event.discription}}</p>
                <p>{{Event.time}}</p>
                <p>{{Event.date}}</p>
                </div>
            </li>
            {% endfor %}
            <a href="{% url 'edit' %}" class="white-background">Редагувати</a>
        </ul>
    </div>
{% endblock content %}
