{% extends "base.html" %}
{% block title %}Сайт з подіями{% endblock title %}
{% block additional_css %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
            color: #333;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        li {
            margin-bottom: 10px;
            padding: 10px;
            background-color: #f0f0f0;
            border-radius: 4px;
        }
    </style>
{% endblock additional_css %}
{% block content %}
        <h1>Події</h1>
        <a href="{% url 'add' %}">Додати подію</a>
        
        <ul>
            <li>

                {% for event in object_list %}
                <div class="card">
                <p>{{event.name}}</p>
                <p>{{event.discription}}</p>
                <p>{{event.time}}</p>
                <p>{{event.date}}</p>
                </div>
                {% endfor %}

                <a href="{% url 'edit' %}">Редагувати</a>
            </li>
            

        </ul>
{% endblock content %}
